.Checkbox {
    &Input {
        margin-right: 15px;
        margin-bottom: 15px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0%;
        text-align: left;
    }
}