.TaskCard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    height: 20vh;
    width: 70vW;
    min-height: 170px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    transition: background 0.3s;

    &:hover {
        background: #ffffff81;
    }

    &Title {
        font-size: 1.5em;
        font-weight: 500;
        margin-left: 10px;
        width: 60vW;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &Content {
        font-size: 1em;
        padding: 10px 0 10px 0;
        width: 60vW;
        cursor: pointer;
    }
}

.TitleBox {
    display: flex;
    justify-content: left;
    align-items: center;
}