.TaskCardView {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 70vh;
    width: 50vW;
    min-width: 300px;
    min-height: 150px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 15px;

    }

    &::-webkit-scrollbar-track {
        background-color: #edece993;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #C4AFEB;
        border-radius: 5px;
    }

    &ContentBox {
        padding: 30px;

        &Name {
            margin-bottom: 30px;
            word-wrap: break-word;
            width: 45vW;

            &Date {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 10vw;
            }

            &Marks {
                display: flex;
                align-items: center; 
            }
            p {
                font-size: 1.3em;
                color: #a5a5a5;
                font-weight: 400;
                margin-bottom: 5px;
            }

        }
    }
}

@media (max-width : 100px) {
    
}