.ButtonAdd {
    border-radius: 6px;
    width: 240px;
    height: 60px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background: rgb(223, 223, 223);
    color: rgb(29, 29, 29);
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    transition: opacity 0.3s;
        &:hover{
            opacity: 0.7;
        }
}

.Modal {
    display: none;
    &Active{
        display: inline;
    }
}
.Active {
    display: inline;
    .ButtonAdd {
        display: none;
    }
}

