.SortBox {
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    width: 15vw;
    min-width: 250px;
    min-height: 150px;
    height: 18vh;
    padding: 20px;


    &Title {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }
    }

    &Content {
        font-size: 1em;


        &ButtonSort {
            display: flex;
            padding: 15px;
            justify-content: start;
            align-items: center;
            margin-bottom: 10px;
            width: 15vw;
            min-width: 250px;
            height: 5vh;
            transition: background-color 0.3s;


            &:hover {
                background-color: #EDE6F8;
                border-radius: 5px;
            }

            &:active {
                background-color: #EDE6F8;
                border-radius: 5px;
            }

            &:focus {
                background-color: #EDE6F8;
                border-radius: 5px;
            }


            &SVG {
                margin-right: 10px;
            }
        }
    }
}


@media (max-width: 1280px) {
    .SortBox {
        


        &Title {
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                margin-right: 10px;
            }
        }

    }
}
.ActiveSort {
    background-color: #ede6f8;
    border-radius: 5px;
  }
  