.SortBox {
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    width: 40vh;
    height: 15vh;
    padding: 20px;

    &Title {
        color: #2e2e2e;
        font-family: Roboto;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &Content{
        margin-top: 25px;
        font-size: 1.2em;
    }
}