.List {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 40px;

    &::-webkit-scrollbar {
        width: 15px;

    }
     
    &::-webkit-scrollbar-track {
        background-color: #e4e3e393;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #a782ec91;
        border-radius: 5px;
        
    }
}

.Title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    height: 20vh;
    width: 70vW;
    min-height: 170px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    
}