.ButtonAdd {
    z-index: 2;
    border-radius: 6px;
    width: 17vw;
    min-width: 290px;
    min-height: 50px;
    height: 6vh;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background: #A782EC;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 500;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.7;
    }
    &::selection {
    background-color: #6200ff;
}

}

.Modal {
    display: none;

    &Active {
        display: inline;

        body {
            overflow: hidden;
        }

    }
}

.Active {
    display: inline;

    body {
        overflow: hidden;
    }

    .ButtonAdd {
        display: none;

    }
}