.Input {
    background-color: aliceblue;
    min-height: 20px;
    border: none;
    width: 30vw;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.7em;
    border: 1px solid rgb(227, 242, 255);
    &:hover {
        border: 1px solid rgb(202, 229, 252);
    }

    &:active {
        border: 1px solid rgb(202, 229, 252);
    }
    &:focus {
        border: 1px solid rgb(202, 229, 252);
    }
}