// index.module.scss

.Input {
    min-height: 20px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    background-color: #f5f0fd;
    border: 1px solid #a782ec42;
    overflow-y: auto;
    overflow-x: hidden;

    &:hover {
        border: 1px solid #b197dd;
    }

    &:active {
        border: 1px solid #b197dd;
    }

    &:focus {
        border: 1px solid #b197dd;
    }

    // Стилизация скроллбара
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: #EDECE9;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #C4AFEB;
        border-radius: 10px;
    }
}
