.ModalCreate {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.589);
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &Content {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 80vh;
        border-radius: 10px;
        background: rgb(255, 255, 255);

        &Button {
            display: flex;
            justify-content: center;
            margin-top: 50px;

        }

        &Data {
            font-size: 1em;
            

            &Element {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;

                &Svg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        margin-right: 10px;
                    }
                }

                input {
                    margin-left: 20px;
                }
                &Button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &Select {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   
                   
                    &Box {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        span {
                            display: flex;
                            align-items: center;
                            margin-bottom: 25px;

                            justify-content: space-between;
                        }
                    }

                    &Mark {
                        display: flex;
                        align-items: center;
                        
                        button {
                            display: flex;
                        }
                    }
                }
            }

        }

        &Title {
            display: flex;
            justify-content: center;
            font-weight: 500;
            margin-bottom: 40px;
            font-size: 1.5em;
            
        }
    }
}

@media (max-width: 1600px) {
    .ModalCreate {
        
        &Content {
            width: 70vw;
            &Data {
                &Element {
                    width: 60vw;
                    
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .ModalCreate {
        
        &Content {
            width: 70vw;
            height: 90vh;
            &Data {
                &Element {
                    
                    
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .ModalCreate {
        
        &Content {
            width: 80vw;
            height: 100vh;
            
            &Data {
                &Element {
                    
                    
                }
            }
        }
    }
}


