.CustomCheckbox {
    width: 15vw;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: start;

    span {
        margin-left: 10px;
    }

    &Box {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid #D6A3FF;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 1vw;
            height: 1vh;
        }

    }
}