.MainPage {
    display: flex;
    justify-content: space-around;
}

.MainPageTitle {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 2em;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px;
    margin-bottom: 50px;
}

.DropBox {
    display: inline;
    overflow: hidden;
}

@media (max-width : 1280px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .MainPage {
        display: inline;
        
        &SideBar {
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}