.CustomCheckbox {
   
    display: flex;
    align-items: center;
    justify-content: start;

    &:hover {
        background-color: #EDE6F8;
        border-radius: 5px;
    }

    &:active {
        background-color: #EDE6F8;
        border-radius: 5px;
    }

    &:focus {
        background-color: #EDE6F8;
        border-radius: 5px;
    }

    span {
        margin-left: 10px;
    }

    &Box {
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 1vw;
            height: 1vh;
        }

    }
}