
.InputDate input[type="date"] {
    background-color:aliceblue;
    padding: 10px;
    font-size: 0.7em;
    width: 10vw;
    min-width: 150px;
    min-height: 20px;
    height: 3vh;;
    border-radius: 5px;
    background-color: #f5f0fd;
    border: 1px solid #a782ec42;
    &:hover {
        border: 1px solid #b197dd;
    }

    &:active {
        border: 1px solid #b197dd;
    }
    &:focus {
        border: 1px solid #b197dd;
    }
}